<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All skills
    </h1>

    <a href="/skills/new" class="btn btn-block btn-outline-secondary">
      Add a new skill
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "skill_templates/skills_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @skills.each do |skill| %>
      <tr>
        <td>
          <%= skill.id %>
        </td>

        <td>
          <%= skill.name %>
        </td>

        <td>
          <%= time_ago_in_words(skill.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(skill.updated_at) %> ago
        </td>

        <td>
          <a href="/skills/<%= skill.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @skills, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
