<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Skill #<%= @skill.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/skills" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link skill start -->
      <div class="col">
        <a href="/skills/<%= @skill.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit skill
        </a>
      </div>
      <!-- Edit link skill end -->

      <!-- Delete link skill start -->
      <div class="col">
        <a href="/delete_skill/<%= @skill.id %>" class="btn btn-block btn-outline-secondary">
          Delete skill
        </a>
      </div>
      <!-- Delete link skill end -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @skill.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@skill.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@skill.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "skill_templates/skill_user_skills" %>
  </div>
</div>
<!-- Show Page Customization end -->
