<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All feedbacks
    </h1>

    <a href="/feedbacks/new" class="btn btn-block btn-outline-secondary">
      Add a new feedback
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "feedback_templates/feedbacks_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Task
        </th>

        <th>
          Comment
        </th>

        <th>
          Ratings
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @feedbacks.each do |feedback| %>
      <tr>
        <td>
          <%= feedback.id %>
        </td>

        <td>
          <% if feedback.task.present? %>
            <a href="/tasks/<%= feedback.task.id %>">
              <%= feedback.task.adult_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= feedback.comment %>
        </td>

        <td>
          <%= feedback.ratings %>
        </td>

        <td>
          <%= time_ago_in_words(feedback.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(feedback.updated_at) %> ago
        </td>

        <td>
          <a href="/feedbacks/<%= feedback.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @feedbacks, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
