<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Feedback #<%= @feedback.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/feedbacks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link feedback start -->
      <div class="col">
        <a href="/feedbacks/<%= @feedback.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit feedback
        </a>
      </div>
      <!-- Edit link feedback end -->

      <!-- Delete link feedback start -->
      <div class="col">
        <a href="/delete_feedback/<%= @feedback.id %>" class="btn btn-block btn-outline-secondary">
          Delete feedback
        </a>
      </div>
      <!-- Delete link feedback end -->
    </div>

    <dl>
      <dt>
        Task
      </dt>
      <!-- Display task_id start -->
      <dd>
        <%= @feedback.task_id %>
      </dd>
      <!-- Display task_id end -->

      <dt>
        Comment
      </dt>
      <!-- Display comment start -->
      <dd>
        <%= @feedback.comment %>
      </dd>
      <!-- Display comment end -->

      <dt>
        Ratings
      </dt>
      <!-- Display ratings start -->
      <dd>
        <%= @feedback.ratings %>
      </dd>
      <!-- Display ratings end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@feedback.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@feedback.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
