<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Feedback #<%= @feedback.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/feedbacks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/feedbacks/<%= @feedback.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit feedback
        </a>
      </div>

      <div class="col">
        <a href="/delete_feedback/<%= @feedback.id %>" class="btn btn-block btn-outline-secondary">
          Delete feedback
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Task
      </dt>
      <dd>
        <% if @feedback.task.present? %>
          <a href="/tasks/<%= @feedback.task_id %>">
            <%= @feedback.task.adult_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Comment
      </dt>
      <dd>
        <%= @feedback.comment %>
      </dd>

      <dt>
        Ratings
      </dt>
      <dd>
        <%= @feedback.ratings %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@feedback.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@feedback.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

