<!-- Validation failure messages -->
<% if @user_skill.errors.any? %>
  <% @user_skill.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit user skill #<%= @user_skill.id %>
</h1>

<hr>

<!-- Form user_skill start -->
<form action="/update_user_skill/<%= @user_skill.id %>" method="post">
<!-- Form user_skill end -->

  <!-- Label and input for skill_id start -->
  <div class="form-group">
    <label for="skill_id">
      Skill
    </label>

    <!-- Input for skill_id start -->
    <input type="text" id="skill_id" name="skill_id" class="form-control" value="<%= @user_skill.skill_id %>">
    <!-- Input for skill_id end -->
  </div>
  <!-- Label and input for skill_id end -->

  <!-- Label and input for kid_id start -->
  <div class="form-group">
    <label for="kid_id">
      Kid
    </label>

    <!-- Input for kid_id start -->
    <input type="text" id="kid_id" name="kid_id" class="form-control" value="<%= @user_skill.kid_id %>">
    <!-- Input for kid_id end -->
  </div>
  <!-- Label and input for kid_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update user skill
  </button>
</form>

<hr>

<a href="/user_skills">
  Go back
</a>
