<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User skill #<%= @user_skill.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/user_skills" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link user_skill start -->
      <div class="col">
        <a href="/user_skills/<%= @user_skill.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit user skill
        </a>
      </div>
      <!-- Edit link user_skill end -->

      <!-- Delete link user_skill start -->
      <div class="col">
        <a href="/delete_user_skill/<%= @user_skill.id %>" class="btn btn-block btn-outline-secondary">
          Delete user skill
        </a>
      </div>
      <!-- Delete link user_skill end -->
    </div>

    <dl>
      <dt>
        Skill
      </dt>
      <!-- Display skill_id start -->
      <dd>
        <% if @user_skill.skill.present? %>
          <a href="/skills/<%= @user_skill.skill_id %>">
            <%= @user_skill.skill.name %>
          </a>
        <% end %>
      </dd>
      <!-- Display skill_id end -->

      <dt>
        Kid
      </dt>
      <!-- Display kid_id start -->
      <dd>
        <% if @user_skill.kid.present? %>
          <a href="/users/<%= @user_skill.kid_id %>">
            <%= @user_skill.kid.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display kid_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@user_skill.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@user_skill.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
