<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User #<%= @user.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/users" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/users/<%= @user.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit user
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Address line1
      </dt>
      <dd>
        <%= @user.address_line1 %>
      </dd>

      <dt>
        Address line2
      </dt>
      <dd>
        <%= @user.address_line2 %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @user.city %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @user.state %>
      </dd>

      <dt>
        Zipcode
      </dt>
      <dd>
        <%= @user.zipcode %>
      </dd>

      <dt>
        Country
      </dt>
      <dd>
        <%= @user.country %>
      </dd>

      <dt>
        Neighborhoodname
      </dt>
      <dd>
        <%= @user.neighborhoodname %>
      </dd>

      <dt>
        Profile image
      </dt>
      <dd>
        <img src="<%= @user.profile_image %>" class="img-fluid">
      </dd>

      <dt>
        User type
      </dt>
      <dd>
        <%= @user.user_type %>
      </dd>

      <dt>
        First name
      </dt>
      <dd>
        <%= @user.first_name %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @user.email %>
      </dd>
<!--
      <dt>
        Password
      </dt>
      <dd>
        <%= @user.password %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@user.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user.updated_at) %> ago
      </dd>
    </dl>
    -->
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
   <!-- <%= render partial: "user_templates/user_profile_images" %> --> 
    
          <img src="<%= @user.profile_images.id  %>" class="img-fluid">
        
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_tasks_as_poster" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_tasks_as_helper" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_sent_messages" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_received_messages" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_user_skills" %>
  </div>
</div>
<!-- 
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_helpers" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_posters" %>
  </div>
</div>

--> 
