<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All messages
    </h1>

    <a href="/messages/new" class="btn btn-block btn-outline-secondary">
      Add a new message
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "message_templates/messages_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Sender
        </th>

        <th>
          Recipient
        </th>

        <th>
          Task
        </th>

        <th>
          Message
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @messages.each do |message| %>
      <tr>
        <td>
          <%= message.id %>
        </td>

        <td>
          <% if message.sender.present? %>
            <a href="/users/<%= message.sender.id %>">
              <%= message.sender.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if message.recipient.present? %>
            <a href="/users/<%= message.recipient.id %>">
              <%= message.recipient.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if message.task.present? %>
            <a href="/tasks/<%= message.task.id %>">
              <%= message.task.adult_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= message.message %>
        </td>

        <td>
          <%= time_ago_in_words(message.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(message.updated_at) %> ago
        </td>

        <td>
          <a href="/messages/<%= message.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @messages, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
