<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Message #<%= @message.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/messages" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/messages/<%= @message.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit message
        </a>
      </div>

      <div class="col">
        <a href="/delete_message/<%= @message.id %>" class="btn btn-block btn-outline-secondary">
          Delete message
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Sender
      </dt>
      <dd>
        <% if @message.sender.present? %>
          <a href="/users/<%= @message.sender_id %>">
            <%= @message.sender.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Recipient
      </dt>
      <dd>
        <% if @message.recipient.present? %>
          <a href="/users/<%= @message.recipient_id %>">
            <%= @message.recipient.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Task
      </dt>
      <dd>
        <% if @message.task.present? %>
          <a href="/tasks/<%= @message.task_id %>">
            <%= @message.task.adult_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Message
      </dt>
      <dd>
        <%= @message.message %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@message.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@message.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

