<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit task #<%= @task.id %>
</h1>

<hr>

<form action="/update_task/<%= @task.id %>" method="post">

  <div class="form-group">
    <label for="adult_id">
      Adult
    </label>

    <%= select_tag(:adult_id, options_from_collection_for_select(User.all, :id, :created_at, @task.adult_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="kid_id">
      Kid
    </label>

    <%= select_tag(:kid_id, options_from_collection_for_select(User.all, :id, :created_at, @task.kid_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @task.status %>">
  </div>

  <div class="form-group">
    <label for="task_desc">
      Task desc
    </label>

    <input type="text" id="task_desc" name="task_desc" class="form-control" value="<%= @task.task_desc %>">
  </div>

  <div class="form-group">
    <label for="image_uploads">
      Image uploads
    </label>

    <input type="text" id="image_uploads" name="image_uploads" class="form-control" value="<%= @task.image_uploads %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update task
  </button>
</form>

<hr>

<a href="/tasks">
  Go back
</a>
