<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Task #<%= @task.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/tasks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/tasks/<%= @task.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit task
        </a>
      </div>

      <div class="col">
        <a href="/delete_task/<%= @task.id %>" class="btn btn-block btn-outline-secondary">
          Delete task
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Adult
      </dt>
      <dd>
        <% if @task.poster.present? %>
          <a href="/users/<%= @task.adult_id %>">
            <%= @task.poster.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Kid
      </dt>
      <dd>
        <% if @task.helper.present? %>
          <a href="/users/<%= @task.kid_id %>">
            <%= @task.helper.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @task.status %>
      </dd>

      <dt>
        Task desc
      </dt>
      <dd>
        <%= @task.task_desc %>
      </dd>

      <dt>
        Image uploads
      </dt>
      <dd>
        <%= @task.image_uploads %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@task.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@task.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "task_templates/task_feedbacks" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "task_templates/task_messages" %>
  </div>
</div>
