<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Profile image #<%= @profile_image.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/profile_images" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/profile_images/<%= @profile_image.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit profile image
        </a>
      </div>

      <div class="col">
        <a href="/delete_profile_image/<%= @profile_image.id %>" class="btn btn-block btn-outline-secondary">
          Delete profile image
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image upload
      </dt>
      <dd>
        <%= @profile_image.image_upload %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @profile_image.user.present? %>
          <a href="/users/<%= @profile_image.user_id %>">
            <%= @profile_image.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@profile_image.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@profile_image.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

